.btn-sound {
    width: 2.7083333em;
    height: 2.7083333em;
    top: 3.65%;
    left: 81.45%;
    position: absolute;
    background-image: url(img/btn.svg), url(img/btn-off.svg);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: 100%;
    cursor: pointer;
}

.btn-sound.off {
    background-image: url(img/btn-off.svg);
}

.level-two-jbl .btn-sound {
    top: 2.8%;
}

.btn-sound:hover {
    opacity: 0.8;
}