.btn-show-hint {
    width: 4.75%;
    height: 7.7%;
    top: 3.75%;
    left: 75.75%;
    position: absolute;
    background-image: url(img/btn.svg);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: 100%;
    cursor: pointer;
}

.level-two-jbl .btn-show-hint, .level-three-jbl .btn-show-hint{
    top: 2.85%;
    left: 75.7%;
}

.btn-show-hint:hover {
    opacity: 0.8;
}