.btn-show-rules {
    width: 2.7083333em;
    height: 2.7083333em;
    top: 3.65%;
    left: 87.25%;
    position: absolute;
    background-image: url(img/btn.svg);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: 100%;
    cursor: pointer;
}

.level-2 .btn-show-rules, .level-3 .btn-show-rules {
    top: 2.8%;
}

.btn-show-rules:hover {
    opacity: 0.8;
}