@font-face {
    font-family: 'Gordita-Regular';
    src: local('Gordita-Regular'), url(../../fonts/Gordita-Regular.ttf) format('truetype');
}
@font-face {
    font-family: 'Gordita-Bold';
    src: local('Gordita-Bold'), url(../../fonts/Gordita-Bold.ttf) format('truetype');
}

body {
    font-family: 'Gordita-Regular';
    padding: 0;
    margin: 0;
    font-size: 22px;
    font-weight: 500;
    color: #000000;
}

@media screen and (max-width: 767px){
    footer {
        margin-top: 0;
    }
}

@media (min-width: 860px) {
    .menu-item-has-children .sub-menu {
        height: 95px;
    }
}

.jbl-container {
    width: 1350px;
    margin: 0 auto;
    padding: 1em;
    overflow: hidden;
    position: relative;
}

.pre-footer {
    display: none;
}