.main-jbl {
    position: relative;
    height: 35.4166667em;
    width: 100%;
    padding-bottom: 20px;
    display: none;
}

.canvas-jbl.start .main-jbl{
    display: block;
}

.main-jbl-first {
    padding: 0 20px;
    background: url(img/main-jbl-bg.svg)no-repeat center -3em;
    height: 35.4166667em;
    background-size: 100%;
}

.main-jbl-second {
    background: url(img/main-jbl-bg2.png)no-repeat center -2.5em;
    background-size: 100%;
    height: 35.4166667em;
    width: 100%;
}

#main-jbl-btn {
    position: absolute;
    width: 11.291666em;
    height: 2.3333333em;
    top: 82.5%;
    left: 39.6%;
    background-color: #000000;
    background-image: url(img/btn.svg);
    background-position: top left;
    background-repeat: no-repeat;
    background-size: 100%;
    opacity: 1;
    cursor: pointer;
}

#main-jbl-btn:hover {
    opacity: .7;
}