.level-one-jbl {
    display: none;
    background-image: url(img/all.svg), url(img/all-tv-off.svg);
    background-position: center top;
    background-repeat: no-repeat;
    background-size: 100%;
    position: relative;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.level-one-jbl.tv-off {
    background-image: url(img/all-tv-off.svg);
    display: none;
}

.level-one-jbl.room-finish {
    background-image: url(img/all-finish.svg);
    display: none;
}

.goal-area {
    position: absolute;
    width: 13.3%;
    height: 38%;
    opacity: 0.8;
    left: 81.7%;
    top: 26%;
    z-index: 1000;
}

.goal-area-2 {
    position: absolute;
    width: 7%;
    height: 19%;
    left: 66%;
    top: 2.7%;
    z-index: 1000;
}

.canvas-jbl.level-1 .level-one-jbl, .canvas-jbl.level-1 .level-one-jbl.room-finish, .canvas-jbl.level-1 .level-one-jbl.tv-off{
    display: block;
}

.dnd svg {
    filter: drop-shadow(0 0 10px #34FFF3);
    overflow: visible;
}

.dnd.dnd-goal svg {
    filter: drop-shadow(0 0 7px #FFED2C);
    overflow: visible;
}

.level-one-jbl #ball-1.dnd,
.level-one-jbl #ball-2.dnd,
.level-one-jbl #ball-3.dnd,
.level-one-jbl #ball-4.dnd,
.level-one-jbl #ball-5.dnd,
.level-one-jbl #vaza.dnd,
.level-two-jbl #mop.dnd {
    cursor: move;
}

.level-one-jbl #ball-1 {
    top: 78%;
    left: 2%;
}

#ball-1-clone {
    display: none;
    top: 33%;
    left: 81%;
    transform: rotate(285deg);
    z-index: 995;
    width: 5.04166667em;
    height: 4.45833333em;
    position: absolute;
}

.level-one-jbl #ball-2 {
    top: 81.7%;
    left: 11.8%;
}

#ball-2-clone {
    display: none;
    top: 37%;
    left: 87%;
    z-index: 994;
    width: 4.91em;
    height: 5.66em;
    position: absolute;
}

.level-one-jbl #ball-3 {
    top: 58.7%;
    left: 38.9%;
}

#ball-3-clone {
    display: none;
    top: 43%;
    left: 80.5%;
    z-index: 996;
    width: 5.66em;
    height: 4.625em;
    position: absolute;
    transform: rotate(289deg);
}

.level-one-jbl #ball-4 {
    left: 72.5%;
    top: 82.1%;
}

#ball-4-clone {
    display: none;
    top: 25%;
    left: 83%;
    z-index: 999;
    width: 6.375em;
    height: 5.583em;
    position: absolute;
}

.level-one-jbl #ball-5 {
    top: 63%;
    left: 90%;
}

#ball-5-clone {
    display: none;
    top: 47%;
    left: 85%;
    z-index: 998;
    width: 5.625em;
    height: 6.625em;
    position: absolute;
}

#vaza-clone {
    display: none;
    top: 2.4%;
    left: 67.2%;
    z-index: 998;
    width: 2.833em;
    height: 6.458em;
    position: absolute;
}

.room1-counter {
    top: 7.2%;
    position: absolute;
    left: 3.5%;
    font-size: 1.1em;
}

.room-1-panel {
    position: absolute;
    width: 21%;
    height: 9.8%;
    top: 2.7%;
    left: 14.8%;
}

.level-two-jbl .room-1-panel {
    position: absolute;
    width: 21%;
    height: 9.8%;
    top: 1.7%;
    left: 11.8%;
}

.level-three-jbl .room-1-panel {
    width: 42%;
    height: 100%;
    top: 0;
    left: 0%;
}

.room-1-panel-elem {
    width: 20%;
    height: 100%;
    background-image: url(img/jbl.svg);
    background-position: center 50%;
    background-repeat: no-repeat;
    background-size: 56%;
    float: left;
}

.room-1-panel-elem.show {
    background-image: url(img/jbl-on.svg);
}

