.level-three-jbl {
    display: none;
    background-image: url(img/all.svg);
    background-position: center top;
    background-repeat: no-repeat;
    background-size: 100%;
    position: relative;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.canvas-jbl.level-3 .level-three-jbl{
    display: block;
}

.room3-counter {
    top: 7.2%;
    position: absolute;
    left: 3.5%;
    font-size: 1.1em;
}

.room-3-panel {
    position: absolute;
    width: 12.6%;
    height: 9.8%;
    top: 2.7%;
    left: 52.8%;
}

.room-3-panel-elem {
    width: 33.333333%;
    height: 100%;
    background-image: url(img/jbl.svg);
    background-position: center 50%;
    background-repeat: no-repeat;
    background-size: 56%;
    float: left;
}
