.level-final {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: none;
}

.level-final .final-jbl-first{
    background-image: url(img/bg-1.svg);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: contain;
    width: 100%;
    height: 100%;
}

.level-final .final-jbl-second{
    background-image: url(img/paralax.svg);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: contain;
    width: 100%;
    height: 100%;
}

.turnscreen .level-final .final-jbl-second {
    background-image: url(img/bg-1-mobile.svg);
}

.turnscreen .level-final .final-jbl-second {
    background-image: url(img/bg-1-mobile.svg);
}

.level-final.bg-2 .final-jbl-first{
    background-image: url(img/bg-2.svg);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: contain;
    width: 100%;
    height: 100%;
}

.level-final.bg-2 .final-jbl-second{
    background-image: url(img/paralax.svg);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: contain;
    width: 100%;
    height: 100%;
}

.turnscreen .level-final.bg-2 .final-jbl-second {
    background-image: url(img/bg-2-mobile.svg);
}

.turnscreen .level-final.bg-2 .final-jbl-second {
    background-image: url(img/bg-2-mobile.svg);
}

.level-final.bg-3 .final-jbl-first{
    background-image: url(img/bg-3.svg);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: contain;
    width: 100%;
    height: 100%;
}

.level-final.bg-3 .final-jbl-second{
    background-image: url(img/paralax.svg);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: contain;
    width: 100%;
    height: 100%;
}

.turnscreen .level-final.bg-3 .final-jbl-second {
    background-image: url(img/bg-2-mobile.svg);
}

.turnscreen .level-final.bg-3 .final-jbl-second {
    background-image: url(img/bg-3-mobile.svg);
}

.final .level-final {
    display: block;
}

.final-counter {
    position: absolute;
    top: 5.1%;
    left: 15.5%;
    width: 10%;
    height: auto;
    font-size: 2em;
    color: #ff4713;
    font-weight: bold;
    font-family: 'Gordita-Bold';
}

.level-final.bg-2 .final-counter {
    color: #4AE6D1;
    top: 6.5%;
    left: 18.5%;
}

.level-final.bg-3 .final-counter {
    color: #FFF480;
    top: 6.5%;
    left: 18.5%;
}

.turnscreen .final-counter, .turnscreen .bg-2 .final-counter, .turnscreen .bg-3 .final-counter {
    top: 7.5%;
    left: 8%;
    width: 10%;
    font-size: 2.5em;
} 

.social-btns {
    position: absolute;
    width: 15%;
    height: auto;
    top: 48%;
    left: 42.5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.turnscreen .social-btns {
    width: 36%;
    top: 45%;
    left: 31%;
}

.bg-2 .social-btns, .bg-3 .social-btns {
    top: 44%;
}

.social-btns > div {
    width: 2.083333333em;
    height: 1.875em;
    display: block;
    cursor: pointer;
}

.turnScreen .social-btns > div {
    width: 6.083333em;
    height: 5.875em;
}

.social-btns > div:hover {
    opacity: .7;
}

.social-btns >div.vk {
    background-image: url(img/vk.svg);
    background-position: top center;
    background-repeat: no-repeat;
    background-size: 100%;
}

.social-btns >div.twitter {
    background-image: url(img/twitter.svg);
    background-position: top center;
    background-repeat: no-repeat;
    background-size: 100%;
}

.social-btns >div.facebook {
    background-image: url(img/facebook.svg);
    background-position: top center;
    background-repeat: no-repeat;
    background-size: 100%;
}

.bay {
    position: absolute;
    width: 13em;
    height: 4em;
    top: 90%;
    left: 12%;
    background-image: url(img/bay.svg);
    background-position: top center;
    background-repeat: no-repeat;
    background-size: 100%;
    color: transparent;
}

.turnscreen .bay {
    width: 26em;
    height: 7em;
    top: 92%;
    left: 4%;
}

.more {
    position: absolute;
    width: 11.5833333333em;
    height: 4em;
    top: 90%;
    left: 37%;
    background-image: url(img/more.svg);
    background-position: top center;
    background-repeat: no-repeat;
    background-size: 100%;
    color: transparent;
    cursor: pointer;
}

.turnscreen .more {
    width: 23.583333em;
    height: 7em;
    top: 92%;
    left: 51%;
}

.bg-2 .bay, .bg-3 .bay, .bg-2 .more, .bg-3 .more {
    top: 85%;
}

.turnscreen .bg-2 .bay, .turnscreen .bg-3 .bay, .turnscreen .bg-2 .more, .turnscreen .bg-3 .more {
    top: 92%;
}

.bay:hover, .more:hover {
    opacity: .7;
}