.btn-next-level {
    width: 2.7083333em;
    height: 2.7083333em;
    top: 3.65%;
    left: 92.85%;
    position: absolute;
    background-image: url(img/btn.svg);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: 100%;
    cursor: pointer;
}

.level-2 .btn-next-level, .level-3 .btn-next-level {
    top: 2.8%;
}

.btn-next-level:hover {
    opacity: 0.8;
}